<div ng-controller="GameController" style="display: inline-block">
    <div class="powerups">
        <button class="powerup" ng-click="toggleBombMode()">BOMB</button>
        <button class="powerup" ng-click="toggleCrossMode()">CROSS</button>
        <button class="powerup" ng-click="toggleNumberMode()">NUMBER</button>
        <button class="powerup" ng-click="decrementAll()" ng-disabled="state.decrementCDR > 0">
            <span ng-show="state.decrementCDR == 0">-1</span>
            <span ng-show="state.decrementCDR > 0" style="color: white">{{state.decrementCDR}}</span>
        </button>
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="x in tiles" class="launchpad">
                    <div class="launch-button" ng-click="launchColumn($index)"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tileRow in tiles">
                <td class="launchpad">
                    <div class="launch-button" ng-click="launchRow($index)"></div>
                </td>
                <td ng-repeat="tile in tileRow" class="tile" ng-style="{'background-color': tileColor(tile)}" ng-click="clickTile(tile)">
                    {{tile.state}}
                </td>
            </tr>
        </tbody>
    </table>
</div>