#header {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

#content {
    --display: inline-block;
}

#container {
    width: 100%;
    text-align: center;
}

.game-area {
    margin: 0 auto;
}

.minefield {
    float: left;
}

.game-info {
    width: 150px;
    float: left;
}

button:focus {
    outline: none;
}

.launchpad {
    text-align: center;
    width: 50px;
    height: 50px;
}

.launch-button {
    background-color: #54ccff;
    width: 35px;
    height: 35px;
    border: 0px;
    box-shadow: 1px 1px #888888;
    margin: 0 auto;
    cursor: pointer;
}

.launch-button:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.tile-container {
    height: 55px;
    width: 55px;
    line-height: 52px;
    background: white;
}

.tile {
    height: 50px;
    width: 50px;
    text-align: center;
    box-shadow: 0px 0px 4px #F2F2F2;
}

.tile:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

@-webkit-keyframes tile-pulse {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

i {
    font-size: 300%;
}

.clickable-tile {
    cursor: pointer;
    -webkit-animation-name: tile-pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

.exploding-tile {
    -webkit-animation-name: tile-pulse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
}

.clickable-tile:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.highlighted-tile {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    -webkit-animation: 0;
}

.powerups {
    margin-bottom: 50px;
}

.powerup {
    padding-top: 5px;
    display: inline-block;
    width: 70px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background: #f7f7f7;
    border: 0px;
    box-shadow: 1px 1px #888888;
}

.powerup:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.powerup-toggled {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.powerup-toggled:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.powerup:disabled {
    background: red;
    -webkit-animation-name: tile-pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    font-weight: bold;
}

#you-lose {
    color: red;
    font-weight: bold;
    font-size: 300%;
}

.retry-button {
    padding: 5px;
    border: 1px black solid;
    background: white;
}

.retry-button:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}