#header {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}

#content {
    --display: inline-block;
}

#container {
    width: 100%;
    text-align: center;
}

.launchpad {
    text-align: center;
    width: 50px;
    height: 50px;
}

.launchpad:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.launch-button {
    background-color: #54ccff;
    width: 30px;
    height: 30px;
    border: 1px black solid;
    margin: 0 auto;
    cursor: pointer;
}

.tile {
    height: 50px;
    width: 50px;
    text-align: center;
}

@-webkit-keyframes tile-pulse {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

i {
    font-size: 300%;
}

.clickable-tile {
    cursor: pointer;
    -webkit-animation-name: tile-pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}

.clickable-tile:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.highlighted-tile {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.powerups {
    margin-bottom: 50px;
}

.powerup {
    padding-top: 10px;
    display: inline-block;
    width: 70px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border: 1px black solid;
}

.powerup:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
    color: white;
}

.powerup:focus {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    color: white;
}

.powerup:disabled {
    background: red;
}

#you-lose {
    color: red;
    font-weight: bold;
    font-size: 300%;
}
