<div ng-controller="GameController" id="game">

    <div id="help-box" ng-show="showHelp">
        <div id="help-text">
            <p><strong>Destroy the mines before they blow!</strong></p>
            <br/><br/>
            <p>Click on a blue launcher to destroy all the mines on its row or column.</p>
            <br/>
            <p>If you find yourself in a pickle, use a powerup ! But careful, once you use one, it'll be a
            few turns before you can use it again.</p>
        </div>
        <div><button class="default-button" ng-click="showHelp = false">Got it!</button></div>
    </div>

    <button ng-click="cheat()" ng-hide="true">CHEAT</button>
    <div class="game-area">
        <div style="display: flex; text-align: left">
            <div style="display: flex; flex-direction: column; width: 500px">
                <div style="height: 50px;">
                    <div class="powerup-descriptions">
                        <div ng-switch="powerupHover">
                            <div ng-switch-when="BOMB">
                                Destroy a mine and its surroundings.
                            </div>
                            <div ng-switch-when="CROSS">
                                Destroy a line and row simultaneously.
                            </div>
                            <div ng-switch-when="NUMBER">
                                Destroy all mines with the same number.
                            </div>
                            <div ng-switch-when="DECREMENT">
                                Reduce the timer on each mine by 1.
                            </div>
                            <div ng-switch-when="INCREMENT">
                                Increase the maximum duration of mines by 1 indefinitely.
                            </div>
                            <div ng-switch-default>
                                Hover over a powerup to see what it does
                            </div>
                        </div>
                    </div>
                </div>
                <div style="">
                    <ng-include src="'templates/minefield.html'" ng-show="gameState != 'LOST'"></ng-include>
                    <div ng-show="gameState=='LOST'">
                        <div id="you-lose">
                            YOU LOSE
                            <br/>
                            <div ng-if="state.score == highScore"><br/>New High Score!</div>
                        </div>
                        <button ng-click="initGame()" class="default-button">RETRY</button>
                    </div>
                </div>
            </div>
            <div style="width: 100px">
                <div style="height: 50px;"><strong>Powerups</strong></div>
                <ng-include src="'templates/powerups.html' "></ng-include>
            </div>
            <div style="width: 100px;">
                <div class="game-info">
                    <div class="message-box">
                        <p ng-show="message">{{message}}</p>
                    </div>
                    <div class="statistics">
                        <h3>Level</h3>
                        <strong>{{state.level}}</strong>
                        <h3>Score</h3>
                        <strong>{{state.score}}</strong>
                        <h3>High score</h3>
                        {{highScore}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>