<table ng-hide="gameState == 'LOST'">
    <thead>
    <tr>
        <th></th>
        <th ng-repeat="x in tiles" class="launchpad">
            <button class="launch-button" ng-click="launchColumn($index)"
                    ng-mouseover="hoverLaunchColumn($index)" ng-mouseleave="clearHovers()"
                    ng-disabled="gameState != 'PLAYING'"
                    ng-class="{'launch-button-highlighted': highlightLaunchers}"></button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tileRow in tiles">
        <td>
            <div class="launchpad">
                <button class="launch-button" ng-style="{}" ng-click="launchRow($index)"
                        ng-mouseover="hoverLaunchRow($index)" ng-mouseleave="clearHovers()"
                        ng-disabled="gameState!='PLAYING'"
                        ng-class="{'launch-button-highlighted': highlightLaunchers}"></button>
            </div>
        </td>

        <td ng-repeat="tile in tileRow">
            <div class="tile-container">
                <div class="tile"
                     ng-style="{'background-color': tileColor(tile)}"
                     ng-click="clickTile(tile)"
                     ng-mouseover="hoverTile(tile)"
                     ng-mouseleave="clearHovers()"
                     ng-class="{'clickable-tile': gameState == 'TOGGLED',
                                        'highlighted-tile': tile.highlighted,
                                        'exploding-tile': tile.state == (Tiles.maxState - 1)}">
                    {{tile.state==0?"":tile.state}}
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
