#copyright {
    text-align: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#header {
    text-align: center;
    margin-top: 50px;
}

#content {
    --display: inline-block;
}

#container {
    width: 100%;
    text-align: center;
}

#help-box {
    border: 1px rgb(0,0,255) solid;
    border-radius: 5px;
    background: rgb(240,240,255);
    padding: 20px;
    margin-bottom: 20px;
}

#help-text {
    margin: 20px;
    max-width: 400px;
}

.default-button {
    padding: 10px;
    border: 1px black solid;
    border-radius: 2px;
    background: white;
    font-weight: bold;
}

.default-button:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

#game {
    display: inline-block;
    margin-top: 70px;
}

.game-area {
    margin: 0 auto;
}

.minefield-column {
    display: flex;
    flex-direction: column;
    width: 400px
}

.game-info {
    text-align: center;
    width: 150px;
    float: left;
    height: 300px;
}

.message-box {
    text-align: left;
    font-weight: bold;
    height: 200px;
    margin-top: 30px;
}

.statistics {
    margin-top: 20px;
}

button:focus {
    outline: none;
}



@-webkit-keyframes -webkit-tile-pulse {
    0% { opacity: 1.0; }
    50% { opacity: 0.4; }
    100% { opacity: 1.0; }
}

@keyframes tile-pulse {
    0% { opacity: 1.0; }
    50% { opacity: 0.4; }
    100% { opacity: 1.0; }
}

i {
    font-size: 300%;
}
.powerup-column {
    width: 100px;
    margin-left: 30px;
}

.powerups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.powerup-descriptions {
    text-align: right;
}

.powerup {
    padding-top: 5px;
    vertical-align: top;
    width: 75px;
    height: 70px;
    text-align: center;
    cursor: pointer;
    background: #f7f7f7;
    border: 0px;
    box-shadow: 1px 1px #888888;
}

.powerup:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.powerup-toggled {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.powerup-toggled:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
}

.powerup:disabled {
    background: red;
    -webkit-animation-name: -webkit-tile-pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: tile-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-weight: bold;
}

#you-lose {
    color: red;
    font-weight: bold;
    font-size: 300%;
}
